@{ ViewData["Title"] = "WARNING";
    Layout = null; }

<div class="all">
    <h1 class="title">WARNING</h1>
    <h3 class="dd">Tài khoản bị khóa vui lòng liên hệ với quản trị viên</h3>
</div>
<style>

    .all {
        text-align: center;
        color: rgb(177, 6, 6);
    }
</style>